<!DOCTYPE html>

<html>
    <head>
        <title>Question 1</title>
    </head>
    <body>
    <h1>Question 1</h1>
    <h3>Write the following number in binary: </h3>
    <h3>{{number}}</h3>
    <a href="https://sites.google.com/site/syhsguzmancsp/creative-projects/binary-numbers">Click on the link below for refresh</a>
    <h4>Example</h4>
    <table>
        <tr>
            <th>128</th>
            <th>64</th>
            <th>32</th>
            <th>16</th>
            <th>8</th>
            <th>4</th>
            <th>2</th>
            <th>1</th>
            <th></th>
        </tr>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <th>= This binary number 00010100 represents this decimal number 20</th>
        </tr>
    </table>
    <h3>       </h3>
    <form><form action="/question_1" method="POST">
        <input type="int" name="a1">
        <input type="submit" value="Submit answer">
     </form>
     <p>{{number_in_binary}}</p>
     <p>{{a1}}</p>
    </body>
</html>